<div id="highcharts" style="width:100%; height:300px;"></div>
<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="icon-only" text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mediciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="accionarValvula()">{{accionBotonValvula}}</ion-button>
  <ion-button (click)="cambiarVisibilidadMediciones()">Ver todas las mediciones</ion-button>
  <app-log-mediciones [dispositivoId]="dispositivoId"  *ngIf="this.mostrarMediciones==true" ></app-log-mediciones>
  <ion-button (click)="cambiarVisibilidadRiego()">Ver logs de riego</ion-button>
  <app-log-riego [valvulaId]="dispositivo.electrovalvulaId"  *ngIf="this.mostrarRiegos==true"></app-log-riego>
</ion-content>
